@use "../MemeMain.module.scss";

.colorBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 155px;
  height: 46px;
}

.selectedColor {
  display: flex;
  width: 20px;
  height: 20px;
  margin: 6px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.chooseColor {
  @include MemeMain.defaultButton();
  font-family: "Bruno Ace SC", cursive;
  width: 190px;
  margin: 0px;
  padding: 0px;
  margin-top: 4px;
  border: none;
  background-color: #1e5799;
  transition: all 0.3s ease 0s;
}

.chooseColor:hover {
  width: 191px;
  background-color: #2369b9;
}

.colorPickerContainer {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
}
