@use "../MemeMain.module.scss";

.fileUploadButton {
  display: none;
}

.uploadButton {
  @include MemeMain.defaultButton();
  background-color: #3b91d8;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}

.uploadButton:hover {
  background-color: #1a99d8;
  box-shadow: 0px 15px 20px rgba(46, 177, 229, 0.4);
  color: #fff;
  transform: translateY(-2px);
}
