$defaultHeight: 36px;
$color: #fff;

@mixin background-color() {
  background: #e55d87; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5fc3e4,
    #e55d87
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5fc3e4,
    #e55d87
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin flexColumn() {
  display: flex;
  flex-direction: column;
}

@mixin font() {
  font-family: "Questrial", sans-serif;
  justify-content: center;
  font-size: 18px;
  color: $color;
}

@mixin defaultButton() {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
  padding: 2px;
  border-radius: 10px;
  height: $defaultHeight;
  color: $color;
  cursor: pointer;
}

.meme {
  position: relative;
  justify-items: center;
  display: flex;
  margin-top: 70px;
}

.memeImage {
  display: none;
}

.memeConfig {
  margin-left: 2px;
  width: 50%;
  height: 600px;
}

.tabs {
  display: flex;
  height: 250px;
  background-color: #f6f6f6a1;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.tab {
  @include flexColumn();
  width: 100%;
}

.tabSwitch {
  display: none;
}

.tabLabel {
  position: relative;
  display: block;
  height: $defaultHeight;
  line-height: 40px;
  padding: 0 20px;
  margin-bottom: 130px;
  background-color: #ddd;
  color: #27374d;
  font-family: "Questrial", sans-serif;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.tabLabel:hover {
  background-color: #ccc;
}

.tabSwitch:checked + .tabLabel {
  background-color: $color;
  color: #27374d;
}

.tabContent {
  padding: 10px;
  width: 49.3%;
  border-top: 1px solid #ddd;
  position: absolute;
  top: 40px;
}

.tabSwitch:checked + .tabLabel + .tabContent {
  visibility: visible;
}

.blockSettings {
  display: flex;
  margin-top: 10px;
  background-color: #f6f6f6a1;
  border-radius: 10px;
}

.settings {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.btnsBlock {
  display: flex;
  flex-direction: column;
}

@media (max-width: 837px) {
  .memeConfig {
    width: 100%;
    height: auto;
  }
  .meme {
    width: 100%;
    flex-direction: column-reverse;
  }
  .tabs {
    align-items: baseline;
  }

  .tabContent {
    width: 99.3%;
  }

  .tabLabel {
    font-size: 8px;
  }
}
