@use "/src/components/main/MemeMain.module.scss";

.block {
  display: flex;
  flex-direction: column;
}

.account_icon {
  width: 55px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 20px;
}

.account_icon:hover {
  transform: scale(1.1);
}

.account_smallMenu {
  position: fixed;
  top: 90px;
  right: 20px;
  display: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-image: linear-gradient(
    180deg,
    rgba(84, 139, 186, 0.89) 100%,
    #548abac7
  );
  width: 0px;
  height: 0;
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  animation: showMenu 0.2s ease forwards;
}

@keyframes showMenu {
  0% {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }

  5% {
    opacity: 0;
    visibility: hidden;
    height: 20px;
    width: 130px;
  }

  10% {
    opacity: 0;
    visibility: hidden;
    height: 60px;
    width: 150px;
  }

  15% {
    opacity: 0;
    visibility: hidden;
    height: 80px;
    width: 180px;
  }

  20% {
    opacity: 0;
    visibility: hidden;
    height: 100px;
    width: 200px;
  }

  25% {
    opacity: 0;
    visibility: hidden;
    height: 120px;
    width: 220px;
  }

  30% {
    opacity: 0;
    visibility: hidden;
    height: 140px;
    width: 240px;
  }

  35% {
    opacity: 0;
    visibility: hidden;
    height: 160px;
    width: 260px;
  }

  40% {
    opacity: 0;
    visibility: hidden;
    height: 180px;
    width: 280px;
  }

  45% {
    opacity: 0;
    visibility: hidden;
    height: 200px;
    width: 300px;
  }

  50% {
    opacity: 0.5;
    visibility: visible;
    height: 220px;
    width: 320px;
  }

  55% {
    opacity: 0.6;
    height: 240px;
    width: 340px;
  }

  60% {
    opacity: 0.7;
    height: 260px;
    width: 360px;
  }

  65% {
    opacity: 0.8;
    height: 280px;
    width: 380px;
  }

  70% {
    opacity: 0.9;
    height: 300px;
    width: 400px;
  }

  75% {
    opacity: 0.95;
    height: 320px;
    width: 420px;
  }

  80% {
    opacity: 0.975;
    height: 340px;
    width: 440px;
  }

  85% {
    opacity: 0.99;
    height: 360px;
    width: 460px;
  }

  90% {
    opacity: 0.995;
    height: 380px;
    width: 480px;
  }

  95% {
    opacity: 0.999;
    height: 390px;
    width: 490px;
  }

  100% {
    opacity: 1;
    visibility: visible;
    height: 400px;
    width: 500px;
  }
}

.account_smallMenu.show {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.block_textItem {
  margin: 10px;
  text-transform: uppercase;
  font-size: 1rem;
}

.block_buttomItem {
  margin-bottom: 10px;
}

.fileInputContainer {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.fileInputContainer:hover {
  transform: scale(1.1);
}

.fileInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.avatarPreview {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.fileInputIcon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.countryBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.uploadButton {
  @include MemeMain.defaultButton();
  background-color: #03b500;
  border: none;
  padding: 5px;
}

.uploadButton:hover {
  background-color: #03c200;
}

.uploadButton:disabled {
  background-color: #838383;
  cursor: not-allowed;
}

.percentUpload {
  font-size: 20px;
}
