@use "../../containers/main/MemeMain.module.scss";

.mainNavMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51, 51, 51, 0);
  color: #fff;
}

.mainNavMenu_ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mainNavMenu_list {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 10px;
}

.view_report_button {
  background-color: rgba(105, 163, 225, 0.331);
  color: #6bc67f;
  width: 100px;
  height: 45px;
  font-size: 15px;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.view_report_button:hover {
  background-color: rgb(89, 156, 228);
  color: #fff;
}

.mainNavMenu_list_button {
  @include MemeMain.font();
  font-weight: 700;
  background-color: #f6f6f6a1;
  color: #27374d;
  cursor: pointer;
  padding: 15px 80px;
  border-radius: 20px;
  border: none;
  transform-style: preserve-3d;
  transform: scale(var(--s, 1)) perspective(600px) rotateX(var(--rx, 0deg))
    rotateY(var(--ry, 0deg));
  perspective: 600px;
  transition: transform 0.1s;
}

.mainNavMenu_list_button:hover {
  transform: scale(0.9);
}

.mainNavMenu_list_button:active {
  transition: 0.3s;
  transform: scale(0.93);
}

@media (max-width: 1195px) {
  .mainNavMenu_list {
    width: 240px;
    align-items: center;
  }
}
@media (max-width: 1070px) {
  .mainNavMenu_list {
    width: 150px;
  }
  .mainNavMenu_list_button {
    padding: 15px 30px;
  }
}

@media (max-width: 720px) {
  .mainNavMenu {
    display: flex;
  }
  .mainNavMenu_ul {
    display: flex;
    flex-direction: column;
  }
}
