.header {
  display: flex;
  position: fixed;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 20px #838383;
  height: 70px;
  width: 100%;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.block {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-bottom: 15px;
}

.block_headerName {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  align-items: center;
}

.trollfaceHeader {
  margin: 15px 5px 0px 20px;
  border-radius: 10px;
}

.headerTitle {
  font-family: "Bruno Ace SC", cursive;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.headerProject {
  font-family: "Bruno Ace SC", cursive;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 0px;
}
