@use "../../containers/main/MemeMain.module.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #33333300;
  color: MemeMain.$color;
}

.navbarMenu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbarMenuItem {
  margin-left: 1rem;
}

.navbarMenuLink {
  @include MemeMain.defaultButton();
  width: 164px;
  background: #1b9c85;
  border-radius: 20px;
  border: none;
  font-family: "Questrial", sans-serif;
  height: 36px;
  text-decoration: none;
}

.navbarMenuLink.signIn {
  background: #0079ff;
}

.navbarMenuLink:hover.signIn {
  background: #3997ff;
}

.navbarMenuLink.signOut {
  background: #db4949;
}

.navbarMenuLink:hover.signOut {
  background: #fa5454;
}

.navbarMenuLink:hover {
  background: #1eb69b;
}

.modalContent {
  position: fixed;
  top: 30%;
  right: 30%;
  display: flex;
  text-align: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #f6f6f6a1;
  width: 40%;
  height: 370px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #838383;
}

.modalContentBlock {
  display: flex;
  flex-direction: row;
}

.modalContentImage {
  display: flex;
  width: 160px;
  height: 280px;
  margin-right: 20px;
}

.modalContentForm {
  width: 300px;
}

.closeButtonModal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: #db4949;
  color: MemeMain.$color;
  cursor: pointer;
}

.closeButtonModal:hover {
  border: 1px solid #db4949;
  background-color: MemeMain.$color;
  color: #db4949;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formControl {
  @include MemeMain.defaultButton();
  width: 100%;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
  text-transform: none;
  letter-spacing: normal;
  color: #000;
  resize: none;
}
.modalText {
  display: flex;
  color: #27374d;
  margin: 15px;
}

.modalFormInput {
  align-items: center;
  padding: 13px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submitBtn {
  @include MemeMain.defaultButton();
  border-radius: 20px;
  font-family: "Questrial", sans-serif;
  width: 60%;
  background: #1b9c85;
  border: none;
  text-decoration: none;
}

.submitBtn:hover {
  background: #1eb69b;
}

.textChooseAuth {
  font-size: 15px;
  color: #27374d;
  margin: 5px;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 12px 20px;
  background: white;
  border: 0;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  outline: 0;
  overflow: hidden;
  will-change: box-shadow;
  transform: scale(1);
  transition: 0.2s all;
  cursor: pointer;
}
.googleButton:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}

.googleIcon {
  height: 18px;
  width: 18px;
}

.errorMessage {
  color: #db4949;
  font-size: 13px;
}

.error {
  border: 1px solid red;
}

.buttonBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 1330px) {
  .navbarMenu {
    flex-direction: column;
  }

  .navbarMenuLink {
    width: 100px;
    height: 25px;
    font-size: 15px;
    margin: 2px;
  }

  .modalContent {
    width: 50%;
  }

  .modalContentImage {
    display: flex;
    width: 100px;
    height: 200px;
    margin-right: 10px;
  }

  .navbarMenuLink.signOut {
    width: 75px;
  }
}

@media (max-width: 727px) {
  .navbarMenu {
    flex-direction: column;
  }

  .modalContent {
    width: 100%;
    right: 1%;
  }

  .modalContentImage {
    display: flex;
    width: 150px;
    height: 250px;
    margin-left: 50px;
    margin-right: 15px;
  }

  .navbarMenuLink {
    width: 90px;
    height: 25px;
    font-size: 14px;
    margin-right: 10px;
  }

  .modalFormInput {
    align-items: center;
    padding: 13px;
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .navbarMenuLink.signOut {
    width: 75px;
  }
}
