@use "/src/components/main/MemeMain.module.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #33333300;
  color: MemeMain.$color;
}

.navbarMenu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbarMenuItem {
  margin-left: 1rem;
}

.navbarMenuLink {
  @include MemeMain.defaultButton();
  font-family: "Bruno Ace SC", cursive;
  height: 30px;
  width: 100px;
  background: #00af2682;
  border: 1px solid;
  text-decoration: none;
}

.navbarMenuLink.signIn {
  background: #00000047;
}

.navbarMenuLink:hover.signIn {
  background: #acb0ad;
}

.navbarMenuLink.signOut {
  background: #db4949;
}

.navbarMenuLink:hover.signOut {
  background: #fa5454;
}

.navbarMenuLink:hover {
  background: #00af26e1;
}

.modal {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  border-radius: 1rem;

  width: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}

.modal.show {
  opacity: 1;
  border-radius: 1rem;
  visibility: visible;
  transform: translateY(0);
}

.modalContent {
  position: fixed;
  top: 190px;
  right: 440px;
  display: flex;
  text-align: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #3495a2f7;
  width: 40%;
  height: 340px;
  // z-index: 1;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #838383;
}

.closeButtonModal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: #db4949;
  color: MemeMain.$color;
  cursor: pointer;
}

.closeButtonModal:hover {
  border: 1px solid #db4949;
  background-color: MemeMain.$color;
  color: #db4949;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formControl {
  @include MemeMain.defaultButton();
  width: 100%;
  font-family: "Bruno Ace SC", cursive;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
  text-transform: none;
  letter-spacing: normal;
  color: #000;
  resize: none;
}
.modalText {
  display: flex;
  text-transform: uppercase;
  color: #d2d2d2;
}

.modalFormInput {
  align-items: center;
  padding: 13px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submitBtn {
  @include MemeMain.defaultButton();
  font-family: "Bruno Ace SC", cursive;
  width: 130px;
  background: #0077b5;
  border: 1px solid;
  text-decoration: none;
}

.submitBtn:hover {
  background: MemeMain.$color;
  color: #0077b5;
}

.errorMessage {
  color: #db4949;
  font-size: 13px;
}

.error {
  border: 1px solid red;
}

.buttonBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 888px) {
  .navbarMenu {
    flex-direction: column;
  }

  .navbarMenuLink {
    width: 70px;
    height: 27px;
    font-size: 8px;
    margin: 2px;
  }

  .navbarMenuLink.signOut {
    width: 75px;
  }
}

@media (max-width: 576px) {
  .navbarMenu {
    flex-direction: column;
  }

  .navbarMenuLink {
    width: 60px;
    height: 20px;
    font-size: 8px;
    margin: 2px;
  }

  .navbarMenuLink.signOut {
    width: 75px;
  }
}
