* {
  box-sizing: border-box;
  // outline: 1px solid black;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Bruno Ace SC", cursive;
}

main {
  padding: 25px;
  min-height: 100vh;
  margin: 0;
  background-color: #f6f1f100;
}

.container {
  display: contents;
}

canvas {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.canvas-container {
  position: relative;
  margin: 0px 7px 0px 0px;
  width: 50%;
}

@media (max-width: 837px) {
  main {
    overflow-x: hidden;
  }

  .download-btn.clicked {
    height: 38px;
  }

  .canvas--block {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .download-btn {
    font-size: 0.85rem;
  }
  .canvas-container {
    width: 100%;
  }
}
