* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 25px;
}

.container {
  display: contents;
}

.header {
  display: flex;
  align-items: center;
  height: 50px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.meme-preview {
  display: flex;
  width: 100%;
  height: 106px;
  overflow: scroll;
  border-radius: 2px;
  background-color: #bed0d7;
}

.im {
  display: grid;
  width: 100px;
  height: 100px;
  margin: 3px;
  cursor: pointer;
}

.im--preview {
  width: 100px;
  height: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
  padding: 10px;
  margin: 7px;
}

.cat-icon {
  width: 30px;
}

.upload {
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #1d77dd 1.14%, #106fdb 100%);
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 2px;
  margin: 7px;
}

.dog-icon {
  width: 23px;
}

.upload:hover {
  background: #2187fc;
}

.text--button {
  display: flex;
  font-family: "Karla", sans-serif;
  justify-content: center;
  font-size: 16px;
  margin: 8px;
  text-transform: uppercase;
}

.file-upload-button {
  display: none;
}

.meme--config {
  display: flex;
  margin-left: 2px;
  justify-items: center;
  width: 50%;
  height: 600px;
  background-image: url("/background.png");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 100%;
}

.download {
  display: flex;
  flex-direction: row-reverse;
}

.download-btn {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #1c7a2a 1.14%, #12a31e 100%);
  margin: 7px;
  padding: 2px;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 38px;
  text-transform: uppercase;
  position: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-btn::before {
  content: "Done";
  position: absolute;
  color: rgb(29, 165, 29);
  left: 50%;
  top: -2em;
  transform: translateX(-50%);
  opacity: 0;
}

.download-btn:hover {
  background: #25a137;
}

.download-btn.clicked {
  width: 98%;
  height: 38px;
  background-color: #cee0ed;
  animation: fill 1s ease-out 1 forwards;
  animation-delay: 45ms;
}

.download-btn.clicked::before {
  animation: show 25ms ease-in 1 forwards;
  animation-delay: 1s;
}

.download-icon {
  width: 25px;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 0 rgb(29, 155, 240) inset;
  }

  100% {
    box-shadow: 115em 0 0 rgb(29, 165, 29) inset;
  }
}

@keyframes show {
  100% {
    opacity: 1;
  }
}

.meme {
  position: relative;
  justify-items: center;
  display: flex;
  height: 100%;
  margin-top: 5px;
}

.meme--image {
  display: none;
}

.canvas--block {
  position: relative;
  margin: 7px 2px 0px 7px;
  width: 50%;
  height: 100%;
}

@media (max-width: 837px) {
  .meme--config {
    background-image: none;
    width: 100%;
    height: 215px;
  }
  .download-btn {
    width: 100%;
  }
  .download-btn.clicked {
    width: 100%;
    height: 38px;
  }
  .meme {
    width: 100%;
    flex-direction: column-reverse;
  }
  .canvas--block {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .download-btn {
    font-size: 0.85rem;
  }
}

@media (max-width: 570px) {
  .text--button {
    font-size: 12px;
  }
  .cat-icon {
    width: 20px;
  }
  .dog-icon {
    width: 15px;
  }
  .download-icon {
    width: 20px;
  }
}

@media (max-width: 390px) {
  .text--button {
    font-size: 10px;
  }
  .cat-icon {
    width: 15px;
  }
  .dog-icon {
    width: 10px;
  }
  .download-icon {
    width: 15px;
  }
}
