* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

main {
  padding: 25px;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: contents;
}

canvas {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.canvas--block {
  position: relative;
  margin: 0px 7px 0px 0px;
  width: 50%;
  height: 100%;
}

@media (max-width: 837px) {
  .meme-preview {
    overflow-y: hidden;
  }

  main {
    overflow-x: hidden;
  }
  .tabs {
    align-items: baseline;
  }

  .tab-content {
    width: 99.3%;
  }

  .tab-label {
    font-size: 13px;
  }
  .download-btn.clicked {
    height: 38px;
  }
  .meme {
    width: 100%;
    flex-direction: column-reverse;
  }
  .canvas--block {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .download-btn {
    font-size: 0.85rem;
  }
}
