* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 25px;
}

.container {
  display: contents;
}

.header {
  display: flex;
  align-items: center;
  height: 50px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.download--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #1c7a2a 1.14%, #12a31e 100%);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  text-transform: uppercase;
}

.download--button:hover {
  background: linear-gradient(90.41deg, #26ac43 1.14%, #1a9e49 100%);
}

.form--button:hover {
  background: linear-gradient(90.41deg, #8825a9 1.14%, #c11df8 100%);
}

.meme {
  position: relative;
  justify-items: center;
  padding-top: 25px;
}

.meme--image {
  border-radius: 3px;
  block-size: auto;
  height: 550px;
}

@media only screen and (max-width: 600px) {
  .meme--image {
    width: auto;
    height: auto;
  }

  .bottom {
    bottom: 90%;
  }
}

.meme--text {
  position: absolute;
  font-size: 40px;
  font-family: Impact;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  text-transform: uppercase;
  cursor: move;
}

.bottom {
  bottom: 0;
}
